name: Create Issue Branch

on:
  issues:
    types: [ labeled ]
    
jobs:
  create_issue_branch:
    runs-on: ubuntu-latest
    if: |
      github.event.label.name == 'feat' || 
      github.event.label.name == 'bug' || 
      github.event.label.name == 'refactor'
    steps:
    - name: Create Issue Branch
      id: Create_Issue_Branch
      uses: robvanderleek/create-issue-branch@main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Echo branch name
      run: echo ${{ steps.Create_Issue_Branch.outputs.branchName }}
